<center><p float="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/4_RGB_McCombs_School_Brand_Branded.png" width="300" height="100"/>
  <img src="https://mma.prnewswire.com/media/1458111/Great_Learning_Logo.jpg?p=facebook" width="200" height="100"/>
</p></center>

<h1><center><font size=8>Artificial Intelligence and Machine Learning</center></font></h1>
<h1><center>Bootcamp - Week 1</center></h1>
<center><font size=4>Introduction to programming</font></center>

## **Exercise 1:**

> Davidson High School is located in San Francisco. The students are taught two subjects maths and computer science (CS). The marks scored out of 20 by 5 students are given below (Name of the student, marks scored in math, marks scored in computer science):

1. Tom, 18, 14
2. Sarah, 7, 9
3. Sophia, 19, 20
4. Sam, 15, 18
5. Markk, 6, 11.5

#### **1. Declare and assign Tom's name, marks in math, and marks in CS to variables student1_name, student1_math, student1_cs respectively.**

In [6]:
student1_name="Tom"
student1_math=18
student1_cs=14
student2_name="Sarah"
student2_math=7
student2_cs=9
student3_name="Sophia"
student3_math=19
student3_cs=20
student4_name="Sam"
student4_math=15
student4_cs=18
student5_name="Markk"
student5_math=6
student5_cs=11.5

#### **2. Tom's math marks have been updated to the same as his marks in CS after re-evaluation. Could you please change the value for the same by reassigning the variable?**

In [2]:
student1_math=18

#### **3. Sarah decided to include her last name in her grade sheet. Could you concatenate her first name (Sarah) and last name (Turner) and assign the value to the variable "student2_name"?**

In [3]:
student2_name="Sarah"+" "+"Turner"

#### **4. Mark's name has been spelled wrong in the grade sheet. Can you get the subset of the string student5_name= "Markk" and update it to the correct spelling (Mark)?**

In [7]:

student5_name=student5_name[0:4]

#### **5. You want to check if Tom's marks in math are higher than that of Sophia**
Hint: Use Boolean values for comparison.

In [8]:
student1_math>student3_math

False

#### **6. What is Tom's average marks? What is its datatype?**

In [10]:
TomAvg=(student1_math+student1_cs)/2

In [12]:
TomAvg
type(TomAvg)

float

#### **7. Mark's CS marks is 11.5. In order to maintain uniformity, can you please convert it into integer and assign it to variable student5_cs?**

In [13]:
student5_cs=int(student5_cs)

#### **8. You are assigned the task of printing out the marks of the students on the grade sheet in the following format** -  
*Student_name* has scored *student_marks_math* in math and *student_marks_cs* in CS. 

Since this will be a repetitive task for every student. You have created the following variables to save your time. 

str1="has scored"

str2="in math and"

str3="in CS"

Concatenate them with the student's name, math marks, and CS marks for Sam in order to print 

"Tom has scored 14 in math and 14 in CS"

In [18]:
str1=" has scored "
str2=" in math and "
str3=" in CS"
report=student1_name+str1+str(student1_math)+str2+str(student1_cs)+str3
print (report)

Tom has scored 18 in math and 14 in CS

#### **9. You have a string variable sarah_math="9 in math". You want to extract 9 from this string in the form of an integer. But, you are encountering an error when you perform int("9 in math"). How would you fix it?**

In [22]:
sarah_math="9 in math"
extInt=int(sarah_math[0:1])
print (extInt)
type(extInt)

9

int

#### **10. Can you check if Tom has a higher total than Sam after assigning Sam's marks to student4_math and student4_cs variables respectively?**

In [23]:
(student1_math > student4_math) & (student1_cs>student4_cs)

False

## **Exercise 2:**

> We know that - Isaac Burton is a 27 year old student in California.
This information will be used in the following set of questions.

#### **1. Declare and assign the following values.**

Assign Isaac's age to variable "isaac_age_int" of data type int (for example: 5).

Assign Isaac's age to variable "isaac_age_float" of data type float (for example: 5.0).

Assign Isaac's age to variable "isaac_age_str" of data type str (for example: "5").

#### **2. Try to create the name "Isaac Burton" from the following set of string variables.**

Hint: Use string concatenation and repitition

str1="Is"

str2="a"

str3="Burton"

str4="c "

####**3. Assign "Isaac Burton" to the string "full_name" and extract "Isaac" from the string "full_name" and assign it to the string "first_name"**

full_name="Isaac Burton"

#### **4. Check using comparison operators if the temperature of California (in Celcius) is greater on Monday or Tuesday?**

temp_monday=11.3

temp_tuesday=13.7

temp_monday, temp_tuesday=13.7, 11.3

#### **5. Isaac wants to add the temperatures of Monday and Tuesday. What will be the data type of the resulting temperature?**

Hint: The answer is float.

#### **6. Can you convert 13.7 (float) to "13" (string) using type conversion?**

#### **7. How can you form the sentence "Isaac is 27 years old" using the below variables?**

str1="Isaac is "

age=27

str3=" years old"

#### **8. Isaac wants to compare if his age represented as 27 and 27.0 are equal. But he is getting an error by doing 27 = 27.0. Kindly correct it for him.**

#### **9. Isaac is curious if he can get boolean values for comparing strings. Check if "Isaac" is greater than "Burton".**

Hint: the answer is True.

In string comparison, the first characters of both the strings are compared and the letter which comes after is greater than the letter coming before it. For example, "b"<"e".

#### **10. Isaac wants to swap the temperatures of Monday and Tuesday stored in the variables temp_monday and temp_tuesday because they were assigned wrongly. How can he perform this?**

In the above code, the temperature of monday is assigned to the variable dummy so that we preserve it even after assigning the value of temp_tuesday to temp_monday. Later, the value of temp_monday which is stored in dummy us assigned to temp_tuesday, and hence, the values are swapped.

OR

Python allows us to directly assign the values on the left to the right without using dummy values. Thus, the value in temp_tuesday is assigned to temp_monday and vice versa directly.